<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="tests.VerifyLogin"/>
      <class name="tests.ContactsAddContact"/>
      <class name="tests.ContactsAddProspect"/>
      <class name="tests.Field360ConvertQuoteToJobToUninvoicedJobsToOpenInvoices"/>
      <class name="tests.Field360Cust"/>
      <class name="tests.PlanEstimateDeleteItemTest"/>
      <class name="tests.PlanEstimateEditItemTest"/>
      <class name="tests.PlanEstimateTest"/>
      <class name="tests.ProcureMaterial"/>
      <class name="tests.ProcureTest"/>
      <class name="tests.SuperTest"/>
      <class name="tests.VerifyLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
